@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

:root {
  --bg-1: rgba(3, 3, 3, 0.842);
  --bg-2: rgba(18, 20, 19, 0.918);
  --c1: rgba(233, 247, 238, 0.774);
  --c2: rgb(245, 28, 28);
}

* {
  font-family: "Share Tech Mono", monospace;
}

body {
  min-width: 100vh;
  background-color: var(--bg-1);
  color: var(--c1)
}

.navbar {
  background-color: var(--bg-2);
  margin-bottom: 20px;
}

.nav-item {
  font-weight: 500;
  margin-left: 16px;
  margin-top: 4px;
  margin-bottom: 4px;
  cursor: pointer;
}

.nav-item:hover,
.active {
  transform: scale(1.1);
  transition: 10ms all ease-in-out;
}

.active {
  font-weight: 600;
  border-bottom: 3px solid var(--c1);
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  width: 100%;
  height: inherit;
  object-fit: cover;
  border-radius: 50%;
}

.img-container {
  width: 10rem;
  height: 10rem;
  transition: .5s all ease-in-out;
}

.img-container:hover {
  transform: scale(1.2) rotate(360deg);
  transition: .5s all ease-in-out;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-decoration: underline;
  font-size: 50px;
}

.title-first {
  color: var(--c1);
}

.title-second {
  color: var(--c2);
}

.dynamic-text {
  font-size: 50px;
  color: var(--c2);
}

.cursor {
  display: inline-block;
  background-color: var(--c1);
  animation: blinker .8s infinite;
  width: 5px;
}

@keyframes blinker {

  0%,
  100% {
    background-color: var(--c1);
  }

  50% {
    opacity: 0%;
  }
}